**Check Type**

In [1]:
type('This is a string')

In [2]:
type(None)

In [3]:
type(1)

In [4]:
type(1.0)

In [5]:
def func():
    print('functions')
    
type(func)

function

**Tuples are an immutable data structure (cannot be altered)**

In [6]:
x = ('1', 1, 12.21)
print(x)
type(x)

('1', 1, 12.21)

tuple

**List is mutable**

In [7]:
x = ['1', 2, 22.1]
print(x)
type(x)

['1', 2, 22.1]

list

**Add to List ( _append_ )**

In [8]:
x.append('Value')
print(x)

['1', 2, 22.1, 'Value']

**List length ( _len_ )**

In [9]:
len(x)

4

**List: Concat / Repeat / Include**

In [10]:
x = [1, 2, 3]
y = [4, 5, 6]
x + y

[1, 2, 3, 4, 5, 6]

In [11]:
x * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
print(1 in x)
print(1 in y)

True
False

**List iterate**

In [13]:
x = [1, 2, 3, 4, 5]
for item in x:
    print(item)

1
2
3
4
5

In [14]:
x = [1, 2, 3, 4, 5]
index = 0
while index < len(x):
    print(x[index])
    index += 1

1
2
3
4
5

**List Selections**

In [15]:
list = "Hello World!"
print('list[0]     => ', list[0])
print('list[-1]    => ', list[-1])
print('list[0:1]   => ', list[0:1])
print('list[0:2]   => ', list[0:2])
print('list[-5:-2]   => ', list[-5:-2])
print('list[3:]   => ', list[3:])
print('list[:3]   => ', list[:3])

list[0]     =>  H
list[-1]    =>  !
list[0:1]   =>  H
list[0:2]   =>  He
list[-5:-2]   =>  orl
list[3:]   =>  lo World!
list[:3]   =>  Hel

**String Split ( _split_ )**

In [16]:
st = '23;23;45'
st.split(';')

['23', '23', '45']

**String can concat only with String**<br/>make String _str()_

In [17]:
'First # ' + str(1)

'First # 1'

**String formatting**

In [18]:
"This {} item(s) contains # {} of {} ".format(5, 13, 15)

'This 5 item(s) contains # 13 of 15 '

In [19]:
"This {x} item(s) contains # {y} of {z} ".format(x=5, y=13, z=15)

'This 5 item(s) contains # 13 of 15 '

In [20]:
dict = {'x': 5, 'y': 13, 'z': 15}
print(dict)
"This {x} item(s) contains # {y} of {z} ".format(**dict)

{'x': 5, 'y': 13, 'z': 15}

'This 5 item(s) contains # 13 of 15 '

**Dictionary**

In [21]:
dict = {'UA': 12, 'USA': 100, 'RUS': 40}
print(dict)
type(dict)

{'UA': 12, 'USA': 100, 'RUS': 40}

dict

In [22]:
print(dict['UA'])

12

**Add to Dictionary / change**

In [23]:
dict['LAT'] = 31
dict['UA'] = 0
print(dict)

{'UA': 0, 'USA': 100, 'RUS': 40, 'LAT': 31}

**Dictinary access**

In [24]:
print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['UA', 'USA', 'RUS', 'LAT'])
dict_values([0, 100, 40, 31])
dict_items([('UA', 0), ('USA', 100), ('RUS', 40), ('LAT', 31)])

In [25]:
for item in dict:
    print(item, ' => ', dict[item])

UA  =>  0
USA  =>  100
RUS  =>  40
LAT  =>  31

In [26]:
for k, v in dict.items():
    print(k, ' => ', v)

UA  =>  0
USA  =>  100
RUS  =>  40
LAT  =>  31

In [27]:
for val in dict.values():
    print(val)

0
100
40
31

**Unpacking**

In [28]:
x, y, z = ('x', 'y', 'z')
print(x, y, z)

x y z